<div class="total-login">
    <form (ngSubmit)="send()">
        <div class="signin">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path fill="#1b4965" d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z"></path>
            </svg>
            <h2 class="form_heading">Sign in</h2>
        </div>
        <div class="form__group field">
            <input placeholder="login" class="form__field" type="input" [formControl]="login">
            <label class="form__label" for="login">Login</label>
        </div>
        <div class="form__group field">
            <input placeholder="senha" class="form__field" type="input"  [formControl]="senha">
            <label class="form__label" for="senha">Senha</label>
        </div>
        <button class="button">Entrar</button>
        <app-loading *ngIf="loading"></app-loading>
        <span>{{error}}</span>
    </form >
</div>
